# Virtual Environments
.venv/


# Python Cache & Build Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
*.log

# Node Modules & Frontend Builds
node_modules/
frontend/node_modules/
dist/
frontend/dist/
dist-ssr/
*.local

# IDEs & System Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

#  Data Files
data/*.pdf