fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
huggingface_hub
chromadb
langchain-chroma
pypdf
pydantic
pydantic-settings
python-dotenv
httpx
easyocr
pymupdf
langsmith>=0.1.0
sentence-transformers>=2.2.0
langchain-google-genai